.addthis_toolbox a:active, .addthis_toolbox a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.floating_addthis.left {
  left: 0;
}

.floating_addthis.right {
  right: 0;
}

.floating_addthis {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.floating_addthis a {
  color: #fff;
  text-decoration:none;
  font-size:14px;
  padding: 0 !important;
  margin: 0!important;
}
.floating_addthis li {
  display: block;
  float: none !important;
}

.floating_addthis a:active, .floating_addthis a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

/* Desktop */
@media (min-width: 1023px) {
  ul.floating_addthis {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    min-height: 100px;
    padding: 0px;
    z-index: 99999;
  }
  ul.floating_addthis a {
    width:3rem;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    transition: width 0.5s;
  }
  ul.floating_addthis a:hover {
    -webkit-filter: brightness(90%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  }

  .floating_addthis a.share-whatsapp {
    display:none;
  }
}

/* Mobile */
@media (max-width: 1024px) {
  .floating_addthis {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .floating_addthis li {
    display:inline-block;
    padding:0;
    margin:0;
  }
  .floating_addthis li a {
    display: inline-flex;
    justify-content: center;
    height:3rem;
    width:100%;
  }
}

.addthis_64x64_style span.at-icon-wrapper, .addthis_64x64_style svg{
  height: 64px !important;
  width: 64px !important;
}
.addthis_48x48_style span.at-icon-wrapper, .addthis_48x48_style svg{
  height: 48px !important;
  width: 48px !important;
}