{#
/**
 * @file
 * Default theme implementation to display a node..
 * Available variables:
 * - element: AddThis Wrapper to be rendered
 *
 */
 #}
 {% if element['#float_options'] != '' %}
    {% set floating_class = 'floating_addthis' %}
{% else %}
    {% set floating_class = '' %}
{% endif %}
<ul class="{{ floating_class }} addthis_toolbox {{ element['#float_options'] }} addthis_default_style {{ element['#extra_classes'] }} {{ element['#size'] }} ">
{% for service in element.services %}
 {% if element['#float_options'] != '' %}
     <li>
 {% endif %}
 <a {{ service.attributes }} href="#" ></a>
 {% if element['#float_options'] != '' %}
     </li>
 {% endif %}
{% endfor %}
{% if element['#display_more_button'] == '1' %}
 {% if element['#float_options'] != '' %}
    <li>
{% endif %}
<a class="more_button addthis_button_more at300b">
{% if element['#size'] == 'addthis_16x16_style' %}
    {% set size = '16' %}
{% else if element['#size'] == 'addthis_48x48_style' %}
    {% set size = '48' %}
{% else if element['#size'] == 'addthis_64x64_style' %}
    {% set size = '64' %}
{% else %}
    {% set size = '32' %}
{% endif %}
<span class="at-icon-wrapper" style="background-color: rgb(255, 101, 80); line-height: {{ size }}px; height: {{ size }}px; width: {{ size }}px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-addthis-3" title="More" alt="More" class="at-icon at-icon-addthis" style="width: {{ size }}px; height: {{ size }}px;"><title id="at-svg-addthis-3">AddThis</title><g><path d="M18 14V8h-4v6H8v4h6v6h4v-6h6v-4h-6z" fill-rule="evenodd"></path></g></svg></span>
</a>
{% if element['#float_options'] != '' %}
    </li>
{% endif %}
{% endif %}
</ul>


